<!DOCTYPE html><html><head><meta charset=utf-8><meta name=viewport content="width=device-width,initial-scale=1"><title>siyibalist</title><style lang="">*{
        box-sizing: border-box;
      }
      html,body{
        margin:0;
        height:100%;
        width:100%;
        padding:0;
      }
      #app {
        height:100%;
        width:100%;
      }</style><link href=./static/css/app.df8a4f36f5a39fff6f94f0d1f4c62c19.css rel=stylesheet></head><body><div id=app></div><script type=text/javascript src=./static/js/manifest.3ad1d5771e9b13dbdad2.js></script><script type=text/javascript src=./static/js/vendor.f835178f050bbd4bb80d.js></script><script type=text/javascript src=./static/js/app.630c0b3804f5bf867773.js></script></body></html>