<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="description" content="彩票，一元彩票">
    <meta name="keywords" content="彩票，一元彩票">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>一元彩票</title>
    <link rel="icon" href="/static/img2/3.png" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
 <div class="header">
     <div class="logo">
         <img style="min-width: 155px;height:60px;margin-left:8%" src="/static/img2/3.png" alt="图片出错" title="一元彩票">
     </div>
     <div class="hd-content">
         <div class="item1 jjj kkk">精彩好礼</div>
         <div class="item2">投注流程</div>
         <div class="item3">购买优势</div>
         <div class="item5">连续活动</div>
         <div class="item4"><a class="aaa" href="http://1y222.com/regpage.do" style="text-decoration:none;">免费开户</a></div>
     </div>
 </div>
<div class="contant">
    <div class="img1">
        <div class="zhuti">
            <img class="imgimg"  src="/static/imges/精彩好礼-内容.png" alt="">
            <img class="img-btn" src="/static/img2/1.png" alt="">
        </div>
     </div>
    <div class="img2">
        <div class="img2_content">
            <div class="img2_content_c">
                <div class="contant1">
                    <div class="contant1-img">
                        <img style="width: 100%;" src="/static/imges/购买优势-文字内容.png" alt="">
                    </div>
                </div>
                <div class="contant2">
                    <div class="c-item">
                        <div class="c-item-1">
                            <img style="width: 80px;height: 80px;margin: 40px 40px" src="/static/imges/网站.png" alt="">
                        </div>
                        <div class="c-item-2">
                            <p class="c-item-2" style="text-decoration: none">进入网站</p>
                        </div>
                    </div>
                    <div class="c-item">
                        <div class="c-item-1">
                            <img style="width: 80px;height: 80px;margin: 40px 40px;" src="/static/imges/账户.png" alt="">
                        </div>
                        <div class="c-item-2">
                            <p class="c-item-2" style="text-decoration: none">登录账户</p>
                        </div>
                    </div>
                    <div class="c-item">
                        <div class="c-item-1">
                            <img style="width: 80px;height: 80px;margin: 40px 40px" src="/static/imges/彩种信息.png" alt="">
                        </div>
                        <div class="c-item-2">
                            <p class="c-item-2"  style="text-decoration: none">选择彩种</p>
                        </div>
                    </div>
                    <div class="c-item">
                        <div class="c-item-1">
                            <img style="width: 80px;height: 80px;margin: 40px 40px" src="/static/imges/下注.png" alt="">
                        </div>
                        <div class="c-item-2">
                            <p class="c-item-2" style="text-decoration: none">完成下注</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="img3">
        <div class="ppppp">
            <img  src="/static/dianggao-image/购买优势背景.jpg" alt="">
        </div>
        <div class="imgimg2">
            <img class="imgimg2-img" src="/static/imges/购买优势-文字内容.png" alt="">
        </div>
      </div>
    <div class="img4">
        <div class="ppppp">
            <img  src="/static/huodongImg/4%20bg-pc02.jpg" alt="">
        </div>
        <div class="imgimg2">
            <img class="imgimg2-img2" src="/static/huodongImg/Written%20words-pc.png" alt="">

        </div>
        <img id="tiaozhaun4" class="img-btn2" src="/static/img2/1.png" alt="">
    </div>
</div>
<div class="footer">
    <div class="footer-txt">
        <div><a href="http://www.1y555.com"><span style="margin-top: -5px !important;">线路一</span></a></div>
        <div><a href="http://www.1y444.com">线路二</a></div>
        <div><a href="http://www.1y333.com">线路三</a></div>
        <div><a href="http://www.1y222.com">线路四</a></div>
        <div><a href="http://www.1y000.com">线路五</a></div>
    </div>
</div>
</body>
<script type="text/javascript">
    // P判断手机还是电脑
    $(document).ready(function(){
            function IsPC() {
                var userAgentInfo = navigator.userAgent;
                var Agents = ["Android", "iPhone",
                            "SymbianOS", "Windows Phone",
                            "iPad", "iPod"];
                var flag = true;
                for (var v = 0; v < Agents.length; v++) {
                    if (userAgentInfo.indexOf(Agents[v]) > 0) {
                        flag = false;
                        break;
                    }
                }
                return flag;
            }
             
            var flag = IsPC()
            if(flag==true){
                console.log(1111)
            }else{
                window.location.href='indexMobel.html'
            }
    })
</script>
<script>
    $(document).ready(function () {
       $('.item1').mouseover(function () {
           $('.img1').css('display','block');
           $('.img2').css('display','none');
           $('.img3').css('display','none');
           $('.img4').css('display','none');
           $('.imgimg2-img2').css('display','none');
           $('.img-btn2').css('display','none');
           $(".item1").addClass("jjj kkk");
           $(".item3").removeClass("jjj3 kkk");
           $(".item2").removeClass("jjj2 kkk");
           $(".item5").removeClass("jjj4 kkk");
           $('.footer').css('backgroundColor','black')
       });
        $('.item2').mouseover(function () {
            $('.img2').css('display','block');
            $('.img1').css('display','none');
            $('.img3').css('display','none');
            $('.img4').css('display','none');
            $('.imgimg2-img2').css('display','none');
            $('.img-btn2').css('display','none');
            $(".item1").removeClass("jjj kkk");
            $(".item3").removeClass("jjj3 kkk");
            $(".item2").addClass("jjj2 kkk");
            $(".item4").removeClass("jjj4 kkk");
            $('.footer').css('backgroundColor','black')
        });
        $('.item3').mouseover(function () {
            $('.img3').css('display','block');
            $('.img1').css('display','none');
            $('.img2').css('display','none');
            $('.img4').css('display','none');
            $('.imgimg2-img2').css('display','none');
            $('.img-btn2').css('display','none');
            $(".item1").removeClass("jjj kkk");
            $(".item3").addClass("jjj3 kkk");
            $(".item2").removeClass("jjj2 kkk");
            $(".item5").removeClass("jjj4 kkk");
            $('.footer').css('backgroundColor','black')
        });
        $('.item5').mouseover(function () {
            $('.img4').css('display','block');
            $('.img1').css('display','none');
            $('.img2').css('display','none');
            $('.img3').css('display','none');
            $('.imgimg2-img2').css('display','block');
            $('.img-btn2').css('display','block');
            $(".item5").addClass("jjj4 kkk");
            $(".item1").removeClass("jjj kkk");
            $(".item3").removeClass("jjj3 kkk");
            $(".item2").removeClass("jjj2 kkk");
            $('.footer').css('backgroundColor','black')
        });
        $('.aaa').click(function () {
            $.ajax({
                url: 'http://1y000.com/regpage.do',
                type: 'GET',
                complete: function(response) {
                    if(response.status == 200) {
                       window.location.href='http://1y000.com/regpage.do'
                    }else if(response.status !== 200){
                        window.location.href='http://1y555.com/regpage.do';
                    }
                    else {
                        window.location.href='http://1y222.com/regpage.do'
                    }
                }
            });
        })
        $('.img-btn').click(function () {
            window.location.href='huikui.html'
        })
        $('#tiaozhaun4').click(function () {
            window.location.href='chaxun-pc.html'
        })
    })
</script>
</html>