<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="description" content="彩票，一元彩票">
    <meta name="keywords" content="彩票，一元彩票">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>一元彩票</title>
    <link rel="icon" href="./img2/3.png" type="image/x-icon"/>
    <link rel="stylesheet" href="./css/indexMobel.css">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    <div class="row clearfix ">
        <div class="col-md-12 column zhuti">
            <div class=" carousel slide zhuti" id="carousel-307272">
                <ol class="carousel-indicators mmm">
                    <li data-slide-to="0" data-target="#carousel-307272" class="active">
                    </li>
                    <li data-slide-to="1" data-target="#carousel-307272">
                    </li>
                    <li data-slide-to="2" data-target="#carousel-307272" >
                    </li>
                    </li>
                    <li data-slide-to="3" data-target="#carousel-307272" >
                    </li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active  zhuti">
                        <img style="width: 100%;height:100%" src="./shoujiduan/手机端3.png" alt="">
                        <img class="btn1btn1"  src="./shoujiduan/4按钮.png" alt="">
                    </div>
                    <div class="item   zhuti">
                        <img style="width: 100%;height:100%" src="./shoujiduan/0手机%20%20流程背景.png" alt="">
                        <div class="lunbo-2-slogan">
                            <img style="width: 80%;height:120px;margin-left:20%;margin-top: -19px" src="imges/投注流程文字.png" alt="">
                        </div>
                        <div class="lunbo-2">
                            <div>
                                <div class="item-item">
                                    <div class="shagou">
                                        <img style="width:80px;height:80px;margin: 30px 30px" src="imges/网站.png" alt="">
                                    </div>
                                     <div style="width: 140px;height: 50px;
                                     color: #ffffff;
                                     line-height: 50px;text-align: center;margin-left: 20px">
                                         进入网站
                                     </div>
                                </div>
                            </div>
                            <div>
                                <div class="item-item">
                                    <div class="shagou">
                                        <img style="width:80px;height:80px;margin: 30px 30px" src="imges/账户.png" alt="">
                                    </div>
                                    <div style="width: 140px;height: 50px;
                                     color: #ffffff;
                                     line-height: 50px;text-align: center;margin-left: 20px">
                                        登录账户
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="item-item">
                                    <div class="shagou">
                                        <img style="width:80px;height:80px;margin: 30px 30px" src="imges/彩种信息.png" alt="">
                                    </div>
                                    <div style="width: 140px;height: 50px;
                                     color: #ffffff;
                                     line-height: 50px;text-align: center;margin-left: 20px">
                                        选择彩种
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="item-item">
                                    <div class="shagou">
                                        <img style="width:80px;height:80px;margin: 30px 30px" src="imges/下注.png" alt="">
                                    </div>
                                    <div style="width: 140px;height: 50px;
                                     color: #ffffff;
                                     line-height: 50px;text-align: center;margin-left: 20px">
                                        完成下注
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item   zhuti">
                        <img style="width: 100%;height:100%" src="./shoujiduan/0手机%20%20背景.png" alt="">
                        <img style="width:79%;height:174px;position: absolute;top:52%;left:-27px" src="./imges/购买优势-文字内容.png" alt="">
                    </div>
                    <div class="item  zhuti">
                        <img style="width: 100%;height:100%" src="./shoujiduan/手机端4.png" alt="">
                        <img style="width:56%;height:94px;position: absolute;top:130px;left:7%" src="./shoujiduan/4文字2.png" alt="">
                        <img class="chaxunbtn"   src="./shoujiduan/4按钮.png" alt="">
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-307272" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-307272" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
    </div>
    <div class="footer">
         <div class="footer-div">
             <div><a href="http://www.1y555.com"><span style="margin-top: -5px !important;color: #f58308">线路一</span></a></div>
             <div><a href="http://www.1y555.com"><span style="margin-top: -5px !important;color: #f58308">线路二</span></a></div>
             <div><a href="http://www.1y555.com"><span style="margin-top: -5px !important;color: #f58308">线路三</span></a></div>
             <div><a href="http://www.1y555.com"><span style="margin-top: -5px !important;color: #f58308">线路四</span></a></div>
             <div><a href="http://www.1y555.com"><span style="margin-top: -5px !important;color: #f58308">线路五</span></a></div>
         </div>
    </div>
</body>
<script>
    var h = document.documentElement.clientHeight
    var w = document.documentElement.clientWidth
    console.log(h)
    $(".zhuti").css("height", h);
    $(".footer").css("width", w);
    $(document).ready(function () {
        $('.btn1btn1').click(function () {
            window.location.href='shouji-huikui.html'
        })
        $('.chaxunbtn').click(function () {
            window.location.href='shoujichaxun.html'
        })
    })
</script>
</html>