<!DOCTYPE html><html><head><meta charset=utf-8><meta name=viewport content="width=device-width,initial-scale=1"><link rel="shortcut icon" type=image/x-icon href=static/D.png><title>及刻数据</title><style lang="">*{
        box-sizing: border-box;
      }
      html,body{
        margin:0;
        height:100%;
        width:100%;
        padding:0;
      }
      #app {
        height:100%;
        width:100%;
      }</style><link href=./static/css/app.677793c0300710d6ac7022ac3d147ce7.css rel=stylesheet></head><body><div id=app></div><script type=text/javascript src=./static/js/manifest.3ad1d5771e9b13dbdad2.js></script><script type=text/javascript src=./static/js/vendor.6281df5e2d49a6ddaaad.js></script><script type=text/javascript src=./static/js/app.3dfd2fbd808ae48e94b6.js></script></body></html>